body {
  width: 100%;
  height: 100%;
  background-image: url("../../images/bg_web.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@font-face {
  font-family: "PyeongChang Peace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

.box {
  display: grid;
  grid-template-columns: 300px 80%;
  grid-gap: 0px;
  padding: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-wrapper{
    width: 85%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 0px;
    padding: 10px;
}

.title-text{
margin-bottom: 5px;
font-family: 'PyeongChang Peace';
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 42px;

color: #F8DAB9;
}

.sub-text{
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 1.3rem;
/* or 150% */

color: #FFFFFF;
}

.replay_btn{
  cursor: pointer;
  width: 130px;
  height: 40px;
  background-image: url('../../images/replay_btn.png');

  background-size: contain;
  background-repeat: no-repeat;
}

.save_btn{
  cursor: pointer;
  width: 130px;
  height: 40px;
  background-image: url('../../images/save_btn.png');

  background-size: contain;
  background-repeat: no-repeat;
}

.btn_wrapper{
  margin-top: 30px;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
}

/* 3D 카드 */
* {
  box-sizing: border-box;
}

.card {
  font-weight: bold;
  padding: 1em;
  text-align: right;
  color: #181a1a;
  
  margin: auto;
  width:250px;
  height: 430px;
  box-shadow: 0 1px 5px #00000099;
  
  border-radius: 10px;
  background-image: url('../../images/THEEMPEROR.png');
  background-size: cover;
  
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  border-radius: 10%;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

/* 모바일 화면 최적화 */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-image: url("../../images/bg_app.jpg");
  }

  .box {
    display: block;
  }

  .card { 
    margin-top: 20%;
    width: 180px;
    height: 300px;
  }

  .box{
    width: 100%;
  }

  .text-wrapper{
    margin: auto;
    justify-items: center;

  }
  .title-text{
    margin-bottom: 5px;
    font-family: 'PyeongChang Peace';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 42px;
    
    text-align: center;
    color: #F8DAB9;
    }
    
    .sub-text{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3rem;
    /* or 150% */
    
    text-align: center;
    color: #FFFFFF;
    }

    .btn_wrapper{
      width: 80%;
    }
    .replay_btn{
      margin: auto;
    }
    
    .save_btn{
      margin: auto;
    }
}
